.wrapper{
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1200px;
    margin: 0 auto;
}
.renglon::after{
    content: " ";
    clear: both;
    display: block;
}
[class*="col-span"]{
    float: left;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
}
.sm-col-span-1 {width: 25%;}
.sm-col-span-2 {width: 50%;}
.sm-col-span-3 {width: 75%;}
.sm-col-span-4 {width: 100%;}

@media screen and (min-width:768px){
    .lg-col-span-1{width: 25%;}
    .lg-col-span-2{width: 50%;}
    .lg-col-span-3{width: 75%;}
    .lg-col-span-4{width: 100%;}
}
body{
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 18px;
}
header{
    background-color: orange;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
header nav{
    text-align: right;
}
header nav a{
    color: white;
}
@media screen and (min-width:768px){
    header nav{
        text-align: center;
        padding-top: 1em;
        border-top: 1px solid gray;
        margin-top: 1em; 
    }
    header nav li{
        display: inline-block;
    }
}