/*normalizacion*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.foto{
    display: none;
}
img{
    vertical-align: middle;
    width: 100%;
    height: 20em;
}
#contenedor{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.antes, .despues {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1em;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 1s ease-in;
    border-radius: 0 3px 3px 0; 
}
.despues {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.antes:hover, .despues:hover {
    background-color: gray;
}
.texto{
    color: white;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numero{
    color: white;
    font-size: 1em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.bolita{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px 2px;
    background-color: lightblue;
    border-radius: 60%;
    display: inline-block;
    transition: background-color 1s ease;
}
#bolitas{
    text-align: center;
}
.activo .bolita:hover{
    background-color: lightgreen;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}
@-webkit-keyframes fade{
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade{
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}